+++
title = "Unofficial UCSC Student Guide"
linkTitle = "Unofficial UCSC Student Guide"

+++

{{< blocks/cover title="Welcome to the Unofficial UCSC Student Guide!" image_anchor="top" height="full" color="orange" >}}


<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< ref "/docs" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/hamorrar/ucsc-guide">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A (semi-comprehensive, work in progress) guide for UCSC students.</p>
	{{< blocks/link-down color="info" >}}
</div>


{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Unofficial UCSC Student Guide is made for UCSC students, by UCSC students. The purpose of this guide is provide quick and easily accessible resources and information for most student concerns by making a single site that has everything you need to know to succeed at UCSC.
{{% /blocks/lead %}}


{{< blocks/section color="dark" type="features">}}


{{% blocks/feature icon="fa-lightbulb" title="Searchable site!"%}}
Use the search bar in the top right corner to search the documentation or click the Get Started button to view the guide.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/hamorrar/ucsc-guide" %}}
We do a [Pull Request](https://github.com/hamorrar/ucsc-guide/pulls) contributions workflow on **GitHub**. If you are new to contributing, do not fear, check out the [contribution guide]({{< ref "/docs/contributionguidelines" >}})!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-user-friends" title="For UCSC students, by UCSC students!" %}}
This guide is composed of articles written by several contributors. We are always looking to improve the information in this guide and hope that you will help out where you can!
{{% /blocks/feature %}}


{{< /blocks/section >}}
